# --- Git e Configurações ---
.git/
.gitignore
.dockerignore
README.md

# --- Dados
data/
data/processed

# --- Modelos (Ignora tudo, exceto o que precisamos) ---
models/*
!models/model_final.pkl
!models/preprocessor.pkl


# --- Jupyter e Notebooks ---
notebooks/
.ipynb_checkpoints

# --- Python Cache e Ambientes ---
__pycache__/
*.pyc
.env
env/
.bkp/
.venv/
.temp/
.n8n/


# --- Arquivos Temporários e Lixo ---
.DS_Store
*.log
simular/
monitor/
kaggle/





